body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
/* .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} */

/* Latest Css  Version */
header {
    /* background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed; */
    background-color: #0a0a23;  /* 333 to 0a0a23 */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

header img {
    width: 40px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav {
    background-color: #fff; /* 444 to FFF */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /* position: fixed; */
    top: 10%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 5px;
    margin: 0 25px;
    border-radius: 5px;
    background-color: #0a0a23; /* changed 555 to 0a0a23 */
    transition: background-color 0.3s;
    flex-grow: 1;
    max-width: calc(100% / 5 - 60px); /* Adjust according to the number of links */
}

nav a:hover {
    background-color: #002ead;
}

 .container {
     margin: 20px auto;
     padding: 80px;
     width: 86%;
     max-width: 1200px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

.logout-btn {
    background-color: #0a0a23; /* #f00 to 0a0a23*/
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 30px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #002ead; /* 900 to 002ead */
}

footer {
    background-color: #0a0a23; /* 333 to 0a0a23 */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
/* latest Css Version */
h2 {
    margin-bottom: 20px;
    color: #F29100;
    text-align: center;
}
form {
    text-align: left;
}
.form-group {
    display: inline-block;
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;

}
input[type="text"],
input[type="email"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons button:hover {
    background-color: #45a049;
}
.buttons button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
}
.perviousabove {
    display: flex;
  flex-direction: column;
  width: 80%;

}
.previous-names-header {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #F29100;
}
.previous-names-container {
    display: inline-block; /* Hide the container initially */
    width: 100%;
    text-align: left;
}
.previous-names-container .form-group {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 3px;
}
.margintop {
    margin-top: 20px;
}

/** additionalpersonaldetails  page **/

.additionalpersonaldetails form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.additionalpersonaldetails form .button-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
#logout {
    background-color: #45a049;
    border-radius: 28px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.additionalpersonaldetails .form-group {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 10px;
}
.additionalpersonaldetails label {
    display: block;
    margin-bottom: 5px;
}
.additionalpersonaldetails input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.additionalpersonaldetails .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.additionalpersonaldetails .checkbox-label input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0px;
}
.additionalpersonaldetails .button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    margin-top: 0px;
    width: 100%; /* Make the button container full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
    padding-right: 20px;
}
 input[type="submit"],
#nextButton,
#previousButton {
    width: auto; /* Adjusted width */
    padding: 10px; /* Decreased padding */
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px; /* Decreased font size */
    margin-left: 5px; /* Added margin to separate buttons */

}
input[type="submit"]:hover,
#nextButton:hover {
    background-color: #45a049;
}
.additionalpersonaldetails .message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .button-top {
    display: flex !important;
    justify-content: end !important;
} */
/** additionalpersonaldetails  page **/
/*** Address History page ***/
.sub-header {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.addresspage .form-group {
    margin-bottom: 20px;
    width: 48%; /* Each field takes up nearly half of the container */
    display: inline-block;
    vertical-align: top;
}
.addresspage label {
    display: block;
    margin-bottom: 5px;
}
.addresspage input[type="text"],
.addresspage input[type="date"],
.addresspage select {
    width: calc(100% - 22px); /* Adjusting width to fit two fields in a row */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.addresspage .row::after {
    content: "";
    display: table;
    clear: both;
}
.addresspage .row .form-group {
    float: left; /* Float the fields to place them side by side */
    margin-right: 4%; /* Add a right margin for spacing */
}
.addresspage .row .form-group:last-child {
    margin-right: 0; /* Remove the right margin from the last field in each row */
}
.addresspage .button-container {
    display: flex;
    justify-content: space-between;
}
.addresspage .button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  /* margin-right: 300px;             */
}
.addresspage .button-container button:hover {
    background-color: #45a049;
}
.addresspage .message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb20 {
    margin-bottom: 20px;
}
/*** Address History page ***/
/*** Employment History Page ***/
.Emphistory .sub-header {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.Emphistory .form-group {
    margin-bottom: 20px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.Emphistory label {
    display: block;
    margin-bottom: 5px;
}
.Emphistory input[type="text"],
.Emphistory input[type="date"],
.Emphistory select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.Emphistory .row::after {
    content: "";
    display: table;
    clear: both;
}
.Emphistory .row .form-group {
    float: left;
    margin-right: 4%;
}
.Emphistory .row .form-group:last-child {
    margin-right: 0;
}
.Emphistory .button-container {
    display: flex;
    justify-content: space-between;
}
.Emphistory .button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.Emphistory .button-container button:last-child {
    margin-right: 0;
}
.Emphistory .button-container button:hover {
    background-color: #45a049;
}
/* //.button-container button.next {
//    position: absolute;
  //  right: 20px;
//} */
.Emphistory .message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*** Employment History Page ***/

    
/** Qualifications page **/

.qualifications .sub-header {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.qualifications .form-group {
    margin-bottom: 20px;
    width: 48%; /* Each field takes up nearly half of the container */
    display: inline-block;
    vertical-align: top;
}
.qualifications label {
    display: block;
    margin-bottom: 5px;
}
.qualifications input[type="text"],
.qualifications input[type="date"] {
    width: calc(100% - 22px); /* Adjusting width to fit two fields in a row */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.qualifications .button-container {
    display: flex;
    justify-content: space-between;
}
.qualifications .button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.qualifications .button-container button:hover {
    background-color: #45a049;
}
.qualifications .message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** Qualifications page **/
/* Tablet Version */
@media screen and (min-device-width: 767px) and (max-device-width: 1000px) { 
    nav a {
    
        margin: 0 5px;
        flex-grow: 4;
        max-width: calc(100% / 5 - 10px); /* Adjust according to the number of links */
        font-size: 12px;
    }
    .container {
        margin: 20px auto;
        padding: 40px;
    }
}
/* Tablet Version */
/* Mobile  version */
@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
    .container {
        margin: 20px 10px;
        padding: 40px;
        width: auto;
    } 
    .form-group {
        display: flex;
        width: calc(100% - 10px);
        margin-bottom: 20px;
        flex-direction: column;
    }
.previous-names-container .form-group {
    width: calc(100% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  /** additionalpersonaldetails  page **/
  .additionalpersonaldetails .form-group {
    flex: 0 0 calc(100% - 10px);
    margin-bottom: 10px;
    }
.additionalpersonaldetails .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
    }
    /* Address page */
    .addresspage .form-group {
        margin-bottom: 20px;
        width: calc(100% - 0px);
        display: inline-block;
        vertical-align: top;
    }
    /* Address Page */
/*** Employment History Page ***/
    .Emphistory .form-group {
        margin-bottom: 20px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    /*** Employment History Page ***/
    /** Qualifications page **/
    .qualifications .form-group {
        margin-bottom: 20px;
        width: 100%; /* Each field takes up nearly half of the container */
        display: inline-block;
        vertical-align: top;
    }
    /** Qualifications page **/
    /* nav bar */
    nav {
        background-color: #fff; /* 444 to FFF */
        color: #fff;
        padding: 10px 0;
        text-align: center;
        /* position: fixed; */
        top: 10%;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav a {
        text-decoration: none;
        color: #fff;
        padding: 10px 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: #0a0a23; /* changed 555 to 0a0a23 */
        transition: background-color 0.3s;
        flex-grow: 4;
        font-size: 12px;
        max-width: 100%; /* Adjust according to the number of links */
    }
        /* nav bar */
        /* header */
        header {
          align-items: center;
        }
        header img {
            width: 40px;          
            margin-right: 20px;          
            margin-left: 30px;
        }
        /* header */
}
/* Mobile  version */